gstack/bin/gstack-global-discover.exe filter=lfs diff=lfs merge=lfs -text
gstack/browse/dist/browse.exe filter=lfs diff=lfs merge=lfs -text
gstack/browse/dist/find-browse.exe filter=lfs diff=lfs merge=lfs -text
